body{
    font-family: Merriweather;
}
.top_bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; 
    background-color: navy;
}

.top_bar > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding-inline-start: unset;
}
.about_me, .contact_me, .written_works, .coding_works{
    color: white;
}
.quiz_app, .Bearfoot{
    height: 300px;
    width: 300px;
}
.Discover-E-Pass{
    height: 200px;
    width: 300px;
}
.bio, .contact{
    color: black;
    padding: 10px;
    line-height: 25px;
    font-size: 15px;
}
.project > div{
    margin-bottom: 50px;
}
.contact_info{
    padding: 10px;
    margin: 0px;
    line-height: 25px;
    font-size: 15px;
    color: black;
}
.the_whole_shebang{
    margin-top: 50px;
}

.im_hot{
    height: 200px;
    width: 300px
}
.welcome{
    text-align: center;
    color: black;
    margin: 0;
    width: 100%;
    height: 400px;
    padding-top: 80px;
    font-size: 24px;
    line-height: 50px;    
}
.welcome > h1{
    font-size: 30px;
    line-height: 35px;
}
.me{
    color: navy;
    text-decoration: underline;
}
.resume, .projects{
    height: 100px;
    width: 100px;
}
.email, .github, .linkedin{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.github, .linkedin{
    height: 50px;
    width: 50px;
}
.email{
    height: 40px;
    width: 50px;
}
.research{
    height: 325px;
    width: 400px;
}

li > a{
    color: white;
}
p > a{
    color: navy;
}
a:hover{
    color: goldenrod
}

.contact-links{
    display: flex;
    justify-content: space-around;
}

.section_title{
    text-align: center;
}

.contact_info{
    text-align: center;
}

.project > div > p{
    line-height: 25px;
}

.project{
    text-align: center;
}

@media only screen and (min-width: 600px){
    .section_title{
        font-size: 30px;
    }
    .top_bar > ul{
        padding: 10px;
    }
    .welcome{
        height: 350px;
    }
    .bio > p{
        font-size: 20px;
        line-height: 40px;
    }
    #project-description, .contact_info > p{
        font-size:20px;
        line-height: 40px;
    }
    .Discover-E-Pass{
        height: 250px;
        width: 400px;
    }
    .project > div > h3{
        font-size: 25px;
    }
}
@media only screen and (min-width: 1000px){
    .im_hot{
        float: left;
        margin: 50px;
        height: 300px;
        width: 400px;
    }
    .welcome{
        font-size: 32px;
        line-height: 75px;
        display: flex;
    }
    .welcome > h1{
        margin: auto;
        font-size: 40px;
        line-height: inherit;
    }
    .container{
        display: flex;
    }
    .project{
        padding-left: 30px;
        padding-right: 30px;
    }
    #project-description{
        padding-left: 40px;
        margin: auto;
    }
    .Discover-E-Pass{
        padding-right: 20px;
    }
    
}